body {
    background-image: url('phonescreen.jpg');
    background-repeat: no-repeat;
  }
  
  @media (min-width: 750px) {
    body {
      background-image: url('desktopscreen.jpg');
    }
  }

h1 {
    font-family: "Smokum", serif;
    font-weight: 400;
    text-align: center;
    font-size: 75px;
    text-shadow: 3px 3px 6px rgb(175, 111, 38);
}

.dot {
  height: 25px;
  width: 25px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
}

.score1 {
  justify-content: center;
}
