body {
    background-image: url('phonescreen.jpg');
    background-repeat: no-repeat;
  }
  
  @media (min-width: 750px) {
    body {
      background-image: url('desktopscreen.jpg');
    }
  }

h1 {
    font-family: "Smokum", serif;
    font-weight: 400;
    text-align: center;
    font-size: 75px;
    text-shadow: 3px 3px 6px rgb(175, 111, 38);
}

.dot {
  height: 65px;
  width: 65px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
}

.score1 {
  justify-content: center;
}

.imgs {
  height: 55%;
  width: 55%;
  border: 2px solid black;
  display:block;
  margin:auto;
  justify-content: center;
}

button {
  width: 55%;
  height: auto;
  border: 2px solid black;
  display:block;
  margin:auto;
  font-family: "Smokum", serif;
  text-align: center;
}

.img2{
  height: 55%;
  width: 55%;
  display:block;
  margin:auto;
  justify-content: center;
}


h2 {
  background-color: white;
  width: 55%;
  height: auto;
  border: 2px solid black;
  display:block;
  margin:auto;
  font-family: "Smokum", serif;
  text-align: center;
}

.img3 {
  display:block;
  margin:auto;
  justify-content: center;
}